@font-face {
  font-family: "Martin";
  src: url("MARTIN-Regular.otf"), format("opentype");
}

@font-face {
  font-family: "GT America";
  src: url("GT-America-Extended-Regular.otf"), format("opentype");
}

@font-face {
  font-family: "GT America Compressed";
  font-weight: bold;
  src: url("GT-America-Compressed-Bold.otf"), format("opentype");
}
