@import "src/styles/global.scss";

.get-involved {
  font-family: "Martin";
  color: $base-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: $base-dark;
  height: 100vh;
}

.get-in-touch-btn-mobile {
  background: $base-light;
  text-align: center;
  max-width: 500px;
  margin: 0 30px;
  font-family: "GT America Compressed Bold";
  color: $base-dark;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 60px;
  padding: 0;
  min-width: 350px;
  font-size: 22px;
}

.get-in-touch-btn-desktop {
  background: $base-light;
  text-align: center;
  width: 400px;
  font-family: "GT America Compressed Bold";
  color: $base-dark;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  height: 80px;
  font-size: 40px;
  padding: 0;
  margin: 20px auto 0;
}

.get-involved-header {
  color: $base-light;
  line-height: 1;
  margin-bottom: 30px;
}
