@import "src/styles/global.scss";

.right-column-container {
  background: $base-light;
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
  font-family: "GT America Extended Regular";
  color: $base-dark;
}
