@import "src/styles/global.scss";

.big-text {
  font-family: "Martin";
  line-height: 0.7;
  color: $base-light;
  height: 100vh;
  padding: 0 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(48px + (86 - 48) * ((100vw - 360px) / (1600 - 360)));
}

.highlighted {
  color: $base-dark;
  background-color: yellow;
}
