@import "src/styles/global.scss";

.big-text {
  height: 100vh;
  font-family: "Martin";
  line-height: 0.75;
  color: $base-light;
  height: 100vh;
  // padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(60px + (140 - 60) * ((100vw - 320px) / (1600 - 320)));
}

.highlighted {
  color: $base-dark;
  background-color: yellow;
  margin-right: 8px;
  line-height: 0.8;
}

.highlight-p {
  display: flex;
  margin-top: 3px;
}
