@import "src/styles/global.scss";

.logo-small-container {
  background-color: $base-dark;
  padding: 20px;
  position: fixed;
  top: 15px;
  font-family: "Martin";
  font-size: 40px;
  color: $base-light;
  padding: 5px 8px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  line-height: 1;
  z-index: 2;
}
