@import "src/styles/global.scss";

.subheader-container {
  background-color: $base-light;
  text-align: center;
  font-size: 22px;
  color: $base-dark;
  padding: 75px 0;
}

.both-sides-border {
  width: fit-content;
  border-top: 2px solid $base-dark;
  border-bottom: 2px solid $base-dark;
}

.subheader-text {
  font-family: "Martin";
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1
}

.learn-more {
  font-family: "GT America Extended Regular";
  font-size: 26px;
  margin: 0 auto;
  max-width: 600px;
  text-align: left;
  padding: 60px 15px;
  line-height: 1.7;

  @include until($desktop) {
    font-size: 18px;
  }
}

.learn-more-p {
  margin: 30px 0;

  @include until($desktop) {
    margin: 15px 0;
  }
}

.work-with-us {
  margin: 0 0 30px 0;

  @include until($desktop) {
    margin: 0 0 15px 0;
  }
}
