@import "bulma/sass/utilities/initial-variables";
// @import "bulma-helpers/css/bulma-helpers.min.css";

$size-1: 250px;
$size-2: 96px;
$size-3: 86px;
$size-4: 60px;
$size-6: 22px;
$size-7: 16px;
$navbar-background-color: #1E002D;
$navbar-item-hover-background-color: #1E002D;
$navbar-item-hover-color:	#F5F0EB;
$navbar-item-color:	#F5F0EB;
$input-background-color: yellow;
$input-focus-color: transparent;
$input-focus-border-color: transparent;
$input-focus-box-shadow-color: transparent;

@import "~bulma/bulma.sass";
@import "bulma/sass/utilities/_all.sass";
@import "css/typography.scss";

$base-dark: #1E002D;
$base-light:#F5F0EB;

html {
  background-color: #F5F0EB;
}

body {
  overflow-x: auto;
}

h1 {
  font-family: "Martin"
}
