@import "src/styles/global.scss";

.top-text-section {
  background: $base-light;
  font-size: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15%;
}

.top-text {
  margin-bottom: 30px;
  text-align: left;
  max-width: 500px;
}

.sign-up-cta {
  border-top: 1px solid $base-dark;
  border-bottom: 1px solid $base-dark;
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign-up-static {
  font-size: 16px;
  padding: 10px 0;
  width: 100%;
  display: flex;
  cursor: pointer;
}

.sign-up-input {
  height: 38px;
  background-color: $input-background-color;
  border-color: transparent;
  width: 100%;
  font-family: "GT America Extended Regular";

  &:hover, &:focus {
    border: none;
  }
}

.control {
  width: 100%;
}
