@import "src/styles/global.scss";

.storyContainer {
  border-bottom: 1px solid $base-dark;
  text-align: left;
  padding-bottom: 60px;

  .bottom-margin {
    margin-bottom: 20px;
  }

  @include until($tablet) {
    margin: 0px 5%;
  }
  @include from($tablet) {
    max-width: 500px;
    margin: 0 15%;
  }
}

.titleText {
  font-family: "Martin";
  margin-bottom: 40px;
  @include until($tablet) {
    font-size: 42px;
  }
}
