@import "src/styles/global.scss";

.joinContainer {
  text-align: left;
  padding-bottom: 60px;

  @include until($tablet) {
    margin: 0px 5%;
  }

  @include from($tablet) {
    max-width: 500px;
    margin: 0 15%;
  }
}

.titleText {
  font-family: "Martin";
  margin-bottom: 40px;
  @include until($tablet) {
    font-size: 42px;
  }
}

.ctasContainer > div {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.bottom-margin {
  margin-bottom: 20px;
}

.border-top  {
  border-top: 1px solid $base-dark;
}

.border-bottom  {
  border-bottom: 1px solid $base-dark;
}

.modal.is-active {
  position: fixed !important;
}

.control {
  width: 100%;
  display: flex;
  align-items: center;
}

.submit-email {
  position: absolute;
  right: 0;
}
