@import "src/styles/global.scss";

.joinContainer {
  text-align: left;
  padding-bottom: 60px;

  @include until($tablet) {
    margin: 0px 5%;
  }

  @include from($tablet) {
    max-width: 500px;
    margin: 0 15%;
  }
}

.titleText {
  font-family: "Martin";
  margin-bottom: 40px;
  @include until($tablet) {
    font-size: 42px;
  }

  @include from($tablet) {
    line-height: 40px;
    padding-top: 25px;
 }
}

.bottom-margin {
  margin-bottom: 20px;
}

.border-top  {
  border-top: 1px solid $base-dark;
  display: flex;
  justify-content: space-between;
  color: $base-dark;
  cursor: pointer;

  &.no-padding {
    padding: 0;
  }
}

.border-bottom  {
  border-bottom: 1px solid $base-dark;
  color: $base-dark;
}

.modal.is-active {
  position: fixed !important;
}

.control {
  width: 100%;
  display: flex;
  align-items: center;
}

.submit-email {
  position: absolute;
  right: 0;
}

.email-form {
  position: relative;
  display: flex;
  align-items: center;

  width: 110%;
  margin: 0 -5%;
}

.submit-email {
  position: absolute;

  @media screen and (min-width: $tablet) {
    right: 4%;
  }
}

.share-button-container {
  border: none;
  background: $base-light;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-family: "GT America Extended Regular";
  padding: 0;
  cursor: pointer;

  &.hovering {
    background-color: #FFFF42;
  }
}

.donation-widget {
  margin: 0 auto;
}

.modal-close {
  position: absolute !important;
}

.modal-content.donor-box {
  overflow: hidden;
}

input[type=submit] {
  border: none;
  background: transparent;
  font-size: 16px;
}

.div-highlight {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
  &:hover {
    background-color: #FFFF42;
    margin: 0 -5%;
    width: 110%;
    border-radius: 290486px;
    padding: 15px 5%;
  }
}
