@import "src/styles/global.scss";

.header-container {
  background-color: $base-light;
  text-align: center;
  font-size: 22px;
  color: $base-light;
  padding: 75px 0;
  position: relative;
  background-image: url("~src/images/cover-photo.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.both-sides-border {
  width: fit-content;
  border-top: 2px solid $base-light;
  border-bottom: 2px solid $base-light;
}

.header-text {
  font-family: "Martin";
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1
}

.smaller-header {
  @include until($tablet) {
    font-size: 50px;
  }
  font-size: 100px;
}

.bigger-header {
  @include until($tablet) {
    font-size: 72px;
  }
  font-size: 135px;
}
// until desktop
