@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import "src/styles/global.scss";


.footer-container {
  // font-family: "GT America Extended Regular";
  background: $base-light !important;

  a {
    font-family: "GT America Compressed Bold"
  }
}

.column {
  text-align: center;
  font-size: 25px;
  color: $base-dark;
}

.footer-column-subtitle {
  color: $base-dark;
}

.footer-column-title {
  font-size: 72px;
  line-height: 0.8;
  font-family: "Martin";
  &.last {
    margin-bottom: 40px;
  }
}

// TODO: hover color

.footer-section {
  border-top: 3px solid $base-dark;
  margin: 0 20px;
  text-align: left;
}

.footer-text {
  font-family: "GT America Extended Regular";
  font-size: 18px;
  padding-bottom: 40px;
  min-height: 200px;
}
