@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import "src/styles/global.scss";


.footer-container {
  background: $base-light !important;
  @include until($desktop) {
    padding: 0 !important;
  }

  a {
    font-family: "GT America Compressed Bold"
  }
}

.column {
  text-align: center;
  font-size: 25px;
  color: $base-dark;
}

.footer-column-subtitle {
  color: $base-dark;
}

.footer-column-title {
  font-size: 72px;
  line-height: 0.8;
  font-family: "Martin";
  &.last {
    margin-bottom: 40px;
  }
}

// TODO: hover color

.footer-section {
  border-top: 3px solid $base-dark;
  margin: 0 20px;
  text-align: left;
  padding: 0.75rem 0;

  @include until($desktop) {
    border-top: 1px solid $base-dark;
    padding-bottom: 45px !important;
  }
}

.footer-text {
  font-family: "GT America Extended Regular";
  font-size: 18px;
  padding-bottom: 40px;
  min-height: 200px;

  @include until($desktop) {
    min-height: auto;
    padding-bottom: 20px;
  }
}

.footer-cta {
  background: $base-dark;
  color: $base-light;
  font-family: "Martin";
  line-height: 0.7;
  height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}
