@font-face {
  font-family: "GT America Extended Regular";
  src: url("~fonts/GT-America-Extended-Regular.otf")
}

@font-face {
  font-family: "GT America Compressed Bold";
  font-weight: bold;
  src: url("~fonts/GT-America-Compressed-Bold.otf")
}

@font-face {
  font-family: "Martin";
  src: url("~fonts/MARTIN-Regular.otf")
}
