@font-face {
  font-family: "GT America Extended Regular";
<<<<<<< HEAD:src/css/typography.scss
  src: url("~fonts/GT-America-Extended-Regular.otf")
=======
  src: url("../fonts/GT-America-Extended-Regular.otf") format("otf");
>>>>>>> 41d60df5919c5468c712d354e0a6ecd8471619e8:src/css/typography.css
}

@font-face {
  font-family: "GT America Compressed Bold";
  font-weight: bold;
<<<<<<< HEAD:src/css/typography.scss
  src: url("~fonts/GT-America-Compressed-Bold.otf")
=======
  src: url("../fonts/GT-America-Compressed-Bold.otf") format("otf");
>>>>>>> 41d60df5919c5468c712d354e0a6ecd8471619e8:src/css/typography.css
}

@font-face {
  font-family: "Martin";
<<<<<<< HEAD:src/css/typography.scss
  src: url("~fonts/MARTIN-Regular.otf")
=======
  src: url("../fonts/MARTIN-Regular.otf") format("otf");
>>>>>>> 41d60df5919c5468c712d354e0a6ecd8471619e8:src/css/typography.css
}
