@import "src/styles/global.scss";

.footer-container {
  background: url("~src/images/our-story.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  width: 100%;

  @include until($tablet) {
    background-position: right -150px top;
  }
}

.footer-main-text {
  color: $base-light;
  line-height: 0.61;
  font-size: calc(82px + (250 - 82) * ((100vw - 300px) / (1600 - 300)));
  @include until($desktop) {
    line-height: 0.65
  }
  @media (min-width: $tablet) {
    padding-left: 20%;;
  }
}

.join-button {
  font-family: GT America Extended Regular;
  border: none;
  border-radius: 2px;
  margin-top: 45px;
  display: flex;
  justify-content: space-between !important;
  width: fit-content;
  justify-content: space-between;
  font-size: 14px !important;
  padding: 10px!important;
  height: auto !important;
  border-radius: 1px !important;

  @media (min-width: $tablet) {
    margin-left: 20%;
    width: 325px;
  }

  @media screen and (max-width: $tablet - 1px) {
    width: 100%;
  }

  &:hover {
    border: 1px solid transparent !important;
  }
}

.join-button-arr {
  @media screen and (min-width: $tablet) {
    padding-left: 150px;
  }
}
