@import "src/styles/global.scss";

.split-text-container {
  height: 100vh;
  // scroll-snap-align: start;
}

.split-text-sections {
  scroll-snap-type: y mandatory;
}

#base-dark {
  background-color: $base-dark;
  color: $base-light;
  font-size: 10vw;
  text-align: center;
  padding: 0 10px;
}

#base-light {
  background-color: $base-light;
  color: $base-dark;
  font-size: 10vw;
  text-align: center;
  padding: 0 10px;
}

// top
.split-text-top {
  height: 50%;
  display: flex;
  width: auto;
}

#text-item-top {
  align-self: flex-end;
  line-height: 0.65;
  margin: 0 auto 1rem auto;
}

// bottom
.split-text-bottom {
  height: 50%;
  display: flex;
  width: auto;
}

#text-item-bottom {
  align-self: flex-start;
  line-height: 0.65;
  margin: 0 auto 0 auto;
}
