@import "src/styles/global.scss";

.sign-up-input {
  height: 54px !important;
  background-color: $input-background-color;
  border-color: transparent;
  width: 100%;
  font-family: "GT America Extended Regular";
  background: url("~src/images/arrow.png") no-repeat right 5% center;
  background-size: 14px 8px;


  &:hover, &:focus {
    border: 1px solid transparent;
    border-color: transparent !important;
  }
}
